table {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  border-collapse: collapse;
}

thead {
  border-bottom: 2px solid black;
}

td {
  padding: 10px 20px 10px 0;
  border-bottom: 1px solid gray;
}

tbody tr:hover {
  background-color: rgb(204, 204, 204);
}

td:first-child {
  font-weight: bold;
}
